<!-- Andrey -->
<section class="about" id="about">
  <div class="container about-container">
    <div class="about-block">
      <h2 class="about-title">About us</h2>
      <h3 class="about-subtitle">
        Our craftsmanship: creating unique handmade furniture
      </h3>
      <p class="about-text">
        Discover the inspiration behind our modern and minimalist designs, and
        see how we bring them to life through our skilled craftsmanship.
      </p>
      <ul class="about-list">
        <li class="about-item">
          <span class="about-spn-text">5+</span>
          <p class="about-item-text">
            Years of experience creating handcrafted furniture
          </p>
        </li>
        <li class="about-item">
          <span class="about-spn-text">100%</span>
          <p class="about-item-text">
            Sustainably sourced materials used in all of our furniture
          </p>
        </li>
        <li class="about-item">
          <span class="about-spn-text">500+</span>
          <p class="about-item-text">
            Unique furniture designs crafted by our skilled artisans
          </p>
        </li>
      </ul>
    </div>
    <div class="container-about-img">
      <picture>
        <source
          srcset="./img/about.jpg 1x, ./img/about-2x.jpg 2x"
          media="(min-width:1440px)"
        />
        <source
          srcset="./img/about-tab.jpg 1x, ./img/about-tab-2x.jpg 2x"
          media="(min-width:768px)"
        />
        <source
          srcset="./img/about-mob.jpg 1x, ./img/about-mob-2x.jpg 2x"
          media="(max-width:767px)"
        />
        <img
          src="./img/about-tab.jpg"
          alt="Sofa and pillow"
          class="about-img"
          width="704"
        />
      </picture>
    </div>
  </div>
</section>
