<!-- Sasha-->
<section class="bestsellers">
    <div class="bestsellers-container container">
        <h2 class="bestsellers-title">Bestsellers</h2>

        <ul class="bestseller-ul">
            
            <li class="bestseller-li">                
            <img class="bestsellers-img" srcset="../img/bestsellers-mob-1.jpg 1x, ../img/bestsellers-mob-1-2x.jpg 2x"
                src="../img/bestsellers-mob-1.jpg" alt="bed" width="343" height="193">
            <p class="bestsellers-p">The modern platform bed</p>
            <p class="bestsellers-p-price">750$</p>
        </li>

        <li class="bestseller-li">            
            <img class="bestsellers-img" srcset="../img/bestsellers-mob-2.jpg 1x, ../img/bestsellers-mob-2-2x.jpg 2x"
                src="../img/bestsellers-mob-2.jpg" alt="Chair" width="343" height="193">
            <p class="bestsellers-p">The Cozy Lounge Chair</p>
            <p class="bestsellers-p-price">230$</p>
        </li>

        <li class="bestseller-li">
            <img class="bestsellers-img" srcset="../img/bestsellers-mob-3.jpg 1x, ../img/bestsellers-mob-3-2x.jpg 2x"
                src="../img/bestsellers-mob-3.jpg" alt="industrial" width="343" height="193">
            <p class="bestsellers-p">The industrial accent chair</p>
            <p class="bestsellers-p-price">250$</p>
        </li>
        
        </ul>
     
    </div>
</section>