<!-- Anastasiia -->

<main>
  <section class="hero section">
    <div class="container hero-container">
      <div class="first-hero-container">
        <h1 class="hero-title">Modern and minimalist furniture for you</h1>
      </div>

      <div class="second-hero-container">
        <p class="hero-text">
          Add a touch of elegance to your space with handcrafted furniture
          pieces
        </p>
        <button type="button" class="hero-btn">
          <a class="hero-btn-link" href="#">Subscribe</a>
        </button>
      </div>
    </div>
  </section>
</main>
