<!-- Sasha-->
<section class="products">
    <div class="container">
        <h2 class="product-title">OUR PRODUCTS</h2>

        <div class="img-container">
            <div class="tab-cont">
            <div class="img-mob">
        <picture>
            <source media="(min-width: 1440px)"
            srcset="../img/products-1.jpg 1x, ../img/products-1-2x.jpg 2x" 
            type="image/jpg">

            <source media="(min-width: 768px)"
            srcset="../img/products-tab-1.jpg 1x, ../img/products-tab-1-2x.jpg 2x" 
            type="image/jpg">

            <source media="(max-width: 767px)"
            srcset="../img/products-mob.jpg 1x,  ../img/products-mob-2x.jpg 2x" 
            type="image/jpg">

            <img class="product-img" src="../img/products-mob.jpg" alt="solution" width="344" height="300">
        </picture>
        <p class="product-text">Minimalist storage solutions</p>
        </div>


        <div class="img-tab">
        <picture>
            <source media="(min-width: 1440px)"
            srcset="../img/products-2.jpg 1x, ../img/products-2-2x.jpg 2x"
            type="image/jpg">

            <source media="(min-width:768px)" 
            srcset="../img/products-tab-2.jpg 1x, ../img/products-tab-2-2x.jpg 2x"
                type="image/jpg">

            <img class="product-img" src="../img/products-tab-2.jpg" alt="seating"  width="344" height="300">    
        </picture>        
            <p class="product-text">Handcrafted minimalist seating</p>
            </div>
            </div>
            

            <div class="desktop-cont">
                <div>
            <picture>
                <source media="(min-width: 1440px)"
                srcset="../img/products-3.jpg 1x, ../img/products-3-2x.jpg 2x"
                type="image/jpg">

                <img class="product-img" src="../img/products-3.jpg" alt="tables" width="312" height="300">
            </picture>
            <p class="product-text">Sleek and simple tables</p>
            </div>
            
            
            <div>
            <picture>
                <source media="(min-width: 1440px)" 
                srcset="../img/products-4.jpg 1x, ../img/products-4-2x.jpg 2x" 
                type="image/jpg">
            
                <img class="product-img" src="../img/products-4.jpg" alt="space" width="312" height="300">
            </picture>            
            <p class="product-text">Minimalist seating for every space</p>
            </div>
            </div>
            </div>

            



        <!-- <img class="product-img" srcset="../img/products-mob.jpg 1x, ../img/products-mob-2x.jpg 2x" src="../img/products-mob.jpg" alt="product-1" width="343" height="300">
        <p class="product-text">Minimalist storage solutions</p> -->
    </div>
</section>