<!-- Artem-->
<section class="section-subscription">
<div class="container subscription-container">
    <div class="subscription-block">
        <h2 class="subscription-title">Newsletter</h2>
        <p class="subscription-text">Every week we will send you new designs and information about sales.</p>
        <form class="subscription-form">
            <input class="form-input" placeholder="Name" type="name" required>
            <input class="form-input" placeholder="E-mail" type="email" required>
            <div class="checkbox-block">
                <input class="real-checkbox visually-hidden" name="checkbox" id="checkbox" type="checkbox" value="true" required/>
                <label class="checkbox-text" for="checkbox">
                    <span class="custom-checkbox">
                        <svg class="svg-checkbox-icon" width="13" height="13">
                             <use href="../img/icons.svg#icon-check"></use>
                        </svg>
                    </span>
                    Agree to subscribe to the newsletter
                </label>
            </div>
            <button type="submit" class="subscription-button">Send</button>
        </form>
    </div>
    <div>
        <img srcset="../img/subscription-mob.jpg 1x, ../img/subscription-mob-2x.jpg 2x" src="./img/subscription-mob.jpg" alt="book on table around the chair">
    </div>
</div>
</section>
</main>