/* Sasha */

@media screen and (min-width: 375px) {
    .container {
        max-width: 375px;
    }

        .bestsellers {
            padding-bottom: 64px;
        }
    
        .bestsellers-title {
            font-size: 28px;
            font-weight: 400;
            line-height: 1.5;
            text-transform: uppercase;
            margin-bottom: 21px;
            text-align: center;
        }
    
        .bestseller-list {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 30px;
        }
    
        /* .bestseller-item {
            width: 100%;
        } */
    
        .bestsellers-img {
            margin-bottom: 14px;
        }
    
        .bestsellers-text {
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            margin-bottom: 10px;
        }
    
        .bestsellers-price {
            font-size: 16px;
            font-weight: 700;
            line-height: 1.5;
        }

        .tab-img {
            display: none;
        }
}


@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 32px;
    }

    .tab-img {
        display: block;
    }

    .tab-img {
        display: flex;
        gap: 32px;
    }

    .bestsellers-title {
        font-size: 32px;        
        margin-bottom: 30px;        
    }

    .bestsellers-img {
        margin-bottom: 15px;
    }

    .bestsellers-text {
        font-size: 18px;               
    }
    
    .bestsellers-price {
        font-size: 18px;               
    }

    .hero-bestseller {
        min-width: 704px;
        height: 489px;                
    }

    .bestsellers-block {
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
    }

    .bestsellers-img {
        width: 336px;
    }

}


@media screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
        padding: 0 60px;
    }

    .hero-bestseller {
        max-width: 536px;    
        }
}
