/* Kristina */
.footer-container {
    background-color: var(--primary-color);
    padding-top: 36px;
    padding-bottom: 16px;
}
.footer-space {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   gap: 20px;
}

.footer-logo {
    margin-bottom: 42px;
    margin-top: 6px;
}
.footer-svg {
    fill: var(--white-color);
}
.footer-social-media-container {
    display: flex;
    margin-right: 0;
}
.footer-social-media {
    display: flex;
    gap: 16px;
}
.footer-text-style {
    color: var(--white-color);
font-weight: 400;
line-height: 1.5;
}

.footer-navigatoin {
    margin-bottom: 36px;
}
.footer-nav-item:not(:last-child) {
    margin-bottom: 8px;
}
.footer-address-item {
    margin-bottom: 8px;
}
.footer-paragraph-item {
    margin-bottom: 35px;
}
.footer-telnumb-item {
    margin-bottom: 8px;
}
.meta-container {
    margin-bottom: 64px;
    margin-left: 0;
}
.footer-copyright {
    text-align: center;
    color: var(--white-color);
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.08em;
}
@media screen and (max-width: 767px) {
.footer-email-item {
    display: none;
}
}
