/* Nikita */
.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--background-secondary-color);
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  padding: 36px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo-icon {
  fill: var(--primary-color);
  width: 100px;
  height: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-logo:hover .header-logo-icon,
.header-logo:focus .header-logo-icon{
  fill: var(--hover-color);
}

.header-navigation {
  display: none;
}

.burger-open-btn {
  background-color: transparent;
  border: none;
  padding: 28px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger-icon {
  width: 32px;
  height: 32px;
  fill: var(--primary-color);
}

.burger-icon:hover,
.burger-icon:focus {
  fill: var(--hover-color);
}

@media screen and (min-width: 768px) {
  .header-logo {
    padding: 40px 0;
  }

  .header-logo-icon {
    width: 127px;
    height: 16px;
  }

  .burger-icon {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .header-logo {
    padding: 26px 0;
  }

  .header-navigation {
    display: block;
  }

  .header-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .header-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-link {
    line-height: 1.5;
    padding: 26px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-link:hover,
  .header-link:focus {
    color: var(--hover-color);
  }

  .burger-open-btn {
    display: none;
  }
}
