/* Anastasiia */
.hero {
  background-image: url(../img/hero-mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 140px 0 313px 0;
}

.hero-title {
  max-width: 285px;
  font-family: 'Playfair Display', serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.hero-text {
  max-width: 343px;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 28px;
}

.hero-btn {
  padding: 12px 65px;
  background-color: var(--primary-color);
  width: 224px;
  color: var(--white-color);
  font-size: 16px;
  line-height: 1.5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--hover-btn-color);
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: url(../img/hero-mob-2x.jpg);
  }
}

@media screen and (min-width: 375px) {
    .hero {
    background-size: contain;
    }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: none;
    padding: 60px 0 100px 0;
  }

  .hero-first-container {
    width: 704px;
    height: 528px;
    background-image: url(../img/hero-tab-1.jpg), url(../img/hero-tab-2.jpg);
    background-size: 308px 329px, 367px 530px;
    background-repeat: no-repeat;
    background-position: bottom left, bottom right;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-first-container {
      background-image: url(../img/hero-tab-1-2x.jpg),
        url(../img/hero-tab-2-2x.jpg);
    }
  }

  .hero-title {
    max-width: 648px;
    font-size: 50px;
  }

  .hero-text {
    margin-top: 32px;
    margin-bottom: 30px;
    max-width: 312px;
    font-size: 18px;
  }

  .hero-btn {
    padding: 17px 65px;
    font-size: 18px;
    line-height: 1.33;
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    padding: 64px 0 100px 0;
  }

  .hero-container {
    display: flex;
    justify-content: space-between;
  }

  .hero-first-container {
    width: 983px;
    height: 530px;
    background-image: url(../img/hero-1.jpg), url(../img/hero-2.jpg);
    background-size: 310px 329px, 648px 530px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-first-container {
      background-image: url(../img/hero-1-2x.jpg), url(../img/hero-2-2x.jpg);
    }
  }

  .hero-second-container {
    background-image: url(../img/hero-3.jpg);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 312px 337px;
    height: 530px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-second-container {
      background-image: url(../img/hero-3-2x.jpg);
    }
  }

}
