:root {
  --primary-color: #0A224A;
  --input-color: #B6B6B6;
  --placeholder-color: #D9D9D9;
  --white-color: #FFFFFF;
  --background-secondary-color: #F7FAFF;
  --hover-btn-color: #061835;
  --hover-color: #5f9ea0;
}